@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
}

div#add_username{
  border: 2px outset black;
}

div#add_username {
  height: 10%;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.panel{
  height: 125px !important ;
  margin-left: 495px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  margin: 0px;
}

div#add_username{
  border: 2px outset black;
}

div#add_username {
  height: 10%;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}

.panel{
  height: 125px !important ;
  margin-left: 495px;
}

#link {
  text-align: center;
}

div#chatbox {
  border: 2px inset black;
  height: 85%;
  width: 100%;
  margin: auto;
  overflow: scroll;
}

section#chatroom {
  border: 2px inset black;
  height: 415px;
  width: 50%;
  margin: auto;
  overflow: auto;
}

section#input_zone {
  height: 15%;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.vertical-align {
  position: relative;
  top: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: 'Comfortaa', sans-serif;
  height: 25px;
  margin-top: 20px;
}

input#message {
  width: 45%;
  bottom: -14px;
  height: 30px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 2vh;
}

button#send_message {
  display: inline-block;
}

#historyMsg img {
    max-width: 99%;
}

.imageLable {
  position: relative;
}
#sendImage {
  position: absolute;
  width: 52px;
  bottom: 2px;
  cursor: pointer;
  left: 0;
  opacity: 0;
  overflow: hidden;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: 'Comfortaa', sans-serif;
  padding: 1vh;
}

section#chatroom {
  border: 2px inset black;
  height: 80%;
  width: 50%;
  margin: auto;
  overflow: auto;
}

section#input_zone {
  height: 15%;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.vertical-align {
  position: relative;
  top: 25%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input#username {
  font-family: 'Comfortaa', sans-serif;
  height: 25px;
  margin-top: 20px;
}

button#send_message {
    display: inline-block;
}

p.message {
  margin: 0px;
  width: 100%;
  height: 40px;
  font-size: 2vh;
  font-family: 'Comfortaa', sans-serif;
  padding: 1vh;
}

.chat-partner-name, .chat-group-name {
  flex: 1;
  padding: 0 0 0 95px;
  font-size: 15px;
  font-weight: bold;
  color: #30649c;
  text-shadow: 1px 1px 0 white;
  transition: .1s ease-out;
}

.chat-messages {
  border-top: 1px solid rgba(0, 0, 0, .05);
  padding: 10px;
  overflow: auto;
  margin-left: 43%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
}

.message-box-holder {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.update-box-holder {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.message-sender {
  font-size: 12px;
  margin: 0 0 15px;
  color: #30649c;
  align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
  color: #30649c;
  text-decoration: none;
}

.message-box {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, .1);
  border: 2px solid rgba(100, 170, 0, .1);
  color: #6c6c6c;
  font-size: 12px;
}

.update-box{
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(0, 0, 0, .2);
  border: 2px solid rgba(100, 170, 0, .1);
  color: red;
  width: 100%;
  font-size: 12px;
}

.message-box:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, .2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.message-partner {
  background: rgba(0, 114, 135, .1);
  border: 2px solid rgba(0, 114, 135, .1);
  align-self: flex-start;
}

.message-partner:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, .2);
  border-left: none;
}

